@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
    background: url(../images/background.png) no-repeat center center fixed;
    background-size:cover;
/*    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;*/
    /*height: 100%;*/    
}

.navbar {
    padding: 10px;
}

.content {
    display:flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    /*height:100vh;*/
}

.card {
    max-width: 800px;
    max-height: 350px;
    align-items: center;
    justify-content: center;
    background-color: #F6F4EB;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


#btn1,
#btn2{
    margin-top:50px;
    margin-bottom:50px;

    margin-left: 20px;
    margin-right: 20px;
    max-height: 200px;
    max-width: 280px;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 40px;
}


.button-container{
    max-height:1000px;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

#btn1 {
    background-color: #AACB73;
    color: #F6F4EB;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#btn2 {
    background-color: #F0DE36;
    color: #F6F4EB;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#btn2:hover
{
    background-color: #d6c62f;
}


#btn1:hover {
    background-color: #8da85e;
}
.text-center{
    text-align: center;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

    .video-responsive iframe {
        /*left: 0;
        top: 0;*/
/*        height: 100%;
        width: 100%;*/
        /*position: absolute;*/
    }
.youtube {
/*    height: 650px;
    width: 853px;*/
   
    background-color: #F6F4EB;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.youtube-box {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}


