body {
}

.card-container {
    display:flex;
    justify-content:center;
    margin-bottom:10px;
    height:70vh;
    align-items:center;
}

.menu-card {
    width: 200px;
    height: 380px;
    background-color: #F6F4EB;
    border: none;
    margin: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    padding-top:20px;
}



.menu-links {
    margin:0px;
    display:flex;
    justify-content:start;
    align-items:center;
    width:210px;
    height:200px;
    
    
}

.quiz-link {
    font-size: 30px;
    font-weight: 700;
    color: #91C8E4;
}

    .quiz-link:hover {
        color: #4682A9;
    }

.menu-ul {
    padding: 0;
    display: flex;
    flex-direction: column;
      justify-content:center;
    align-items:start;
    width: 210px;
}

.menu-li {
    list-style: none;
    padding: 0px 0px 10px 0px;
    margin-bottom: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 30px;
    font-weight: 700;
    color: #91C8E4;
}


@keyframes beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.arrow {
    color: #91C8E4;
    font-size: 25px;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.quiz-link:hover .arrow {
    color: #4682A9;
    animation: beat 0.5s infinite;
}

.h2-header {
    font-weight: bold;
    color: #4682A9;
    height:90px;
    display:flex;
    align-items:start;
    justify-content:start;
    
}

