.register-container {
    height: 475px;
    width: 500px;
    background-color: #F6F4EB;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.message-div {
    width: 300px;
    height: 20px;
}

.successmessage-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 30px;
    font-size: 16px !important;
    margin-bottom: 10px;
}

.input-display {
    max-width:300px;
    margin: 0 auto;
}

.success-register{
    color: forestgreen;
    font-size: 14px;
}

.warning-register{
    color: crimson;
    font-size: 12px;
}

label {
    display: block;
    margin-bottom: 2px;
    color: #4682A9;
    font-weight: 700;
}


#enter-btn {
    background-color: #AACB73;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 80px;
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
}

    #enter-btn:hover {
        background-color: #8da85e;
        transition-timing-function: linear;
    }

.content {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

#name-input, #password-input, #confirm-password {
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    border: none;
    background-color: #D9D9D9;
}

.message-container{
    display:flex;
    justify-content:center;
    cursor:pointer;
}


